CLIENT_URL= http://localhost:5173/

DB_HOST= localhost
DB_PORT= 3306
DB_USERNAME= UR_USERNAME
DB_PASSWORD= UR_PASSWORD
DB_NAME= UR_DBNAME
PORT= 8000
JWT_ACCESS_SECRET=gaylord123456789
JWT_REFRESH_SECRET=gaylord123456789
NODE_ENV=development
REFRESH_EXPIRE=3d
ACCESS_EXPIRE=30m
SAL=25405eawfewfaew
CLOUDINARY_CLOUD_NAME=dh56n3uau
CLOUDINARY_API_KEY=424511991534838
CLOUDINARY_API_SECRET=B5KfsVRz4pUE15dY__UQFllB0cI


# Email configuration // Đây là email và key của app, giữ nguyên khi tạo .env mới
EMAIL_USER=appchatmate@gmail.com
EMAIL_PASS=efxb gvhe zfax fjat