CLIENT_URL= http://localhost:5173/

DB_HOST= localhost
DB_PORT= 3306
DB_USERNAME= UR_USERNAME
DB_PASSWORD= UR_PASSWORD
DB_NAME= UR_DBNAME
PORT= 8000
JWT_SECRET= gaylord123456789
REFRESH_EXPIRE= 3d
ACCESS_EXPIRE= 5m
SAL= 25405eawfewfaew